<app-footer>

  <a href="https://riot.js.org/" target="_blank">Riot</a>

  <style type="plain">
    :host {
      background: #222;
      margin-top: auto;
      padding: 25px 15px;
      text-align: center;
    }
    a {
      color: #fff;
    }
  </style>

</app-footer>