<app-menu>

  <a href="#!/list">Users</a>

  <style type="plain">
    :host {
      margin-bottom: 10px;
    }
    a {
      padding: 5px;
      text-decoration: none;
      font-size: 22px;
    }
  </style>
  
</app-menu>